.DS_Store

/html/

node_modules/
/dist
/system/admin/dist
/system/admin/site-dist
/system/server/generated/**
/system/server/generated-debug/**

/data/site.sqlite*
/data/*.bak
!/data/.gitkeep

# 用户上传的文件
public/upload/
/public/*
!/public/logo.svg
